h1 {
  display: none;
  font-size: 32px;
  margin: 1em 0 1em 32px;
  font-weight: bold;
}

h2 {
  display: none;
  font-size: 24px;
  margin: 1em 0 1em 32px;
  font-weight: bold;
}

p {
  display: none;
  font-size: 18px;
  margin: 1em 0 1em 32px;
}
