extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  h1 Title
  h2 Sub Title
  p Lorem ipsum dolor sit amet, mauris dictum sapien, quam neque aliquam, nisl adipiscing potenti blandit, erat odio. Ac nec laoreet lectus ultrices, donec sit aenean egestas justo amet ac. Eget sem felis, vel pretium dolor sed sollicitudin dui, amet nostra sem venenatis.
  p Id tristique litora. Maecenas quam dui commodo, quis mattis id suspendisse, quam facilisis eu justo pharetra pede mauris, imperdiet feugiat volutpat. A porttitor. Lorem pede faucibus aliquam quis diam, minim porttitor sem volutpat. Felis mauris tristique, nunc ligula feugiat lacinia ultrices, porttitor turpis maecenas id luctus, ipsum sit nonummy sed orci magna, volutpat mi iaculis.
  p Tristique orci dui vulputate, consectetuer erat, eu autem, lorem lorem risus adipiscing erat, voluptate vestibulum non neque placerat condimentum cras. Augue nunc mauris euismod faucibus montes, ultrices suspendisse, fusce id sed, rutrum vestibulum in aliquam fusce. Eget esse.
